Repository alexey1312/ExFig: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, swiftlint, mdformat

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: swiftformat
        name: SwiftFormat
        entry: bin/mise exec -- swiftformat
        language: system
        types: [swift]
        args: []

      - id: swiftlint
        name: SwiftLint
        entry: bin/mise exec -- swiftlint lint --strict
        language: system
        types: [swift]

      - id: mdformat
        name: Markdown Format
        entry: bin/mise exec -- mdformat
        language: system
        types: [markdown]
        args: [--wrap, "120", --number]
        exclude: ^\.github/ISSUE_TEMPLATE/

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, chore, ci, revert]

docs: move image_optim recommendation to README.md
  CONFIG.md
  README.md
Due: mdformat

style: format README.md with mdformat
  README.md
Due: mdformat

Claude/revert image optim feature 01 gmt rc gav9pimm46 h9 ua hbs (#6)
  .github/docs/android/images.md
  .github/docs/flutter/index.md
  .github/docs/ios/images.md
  CLAUDE.md
  CONFIG.md
  README.md
  Sources/ExFig/Input/Params.swift
  Sources/ExFig/Output/ImageOptimizer.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Tests/ExFigTests/ImageOptimizerTests.swift
  Tests/ExFigTests/ParamsOptimizeTests.swift
  openspec/specs/image-export/spec.md
Due: swiftformat, swiftlint, mdformat

feat(cli): add download command for config-free image downloads
  .github/docs/usage.md
  CLAUDE.md
  README.md
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/Input/DownloadOptions.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Tests/ExFigTests/Input/DownloadOptionsTests.swift
Due: swiftformat, swiftlint, mdformat

feat(naming): extend naming style support with PascalCase, kebab-case, and SCREAMING_SNAKE_CASE
  .github/docs/usage.md
  CONFIG.md
  README.md
  Sources/ExFig/Input/DownloadOptions.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Sources/ExFigCore/Extensions/StringCase.swift
  Sources/ExFigCore/NameStyle.swift
  Sources/ExFigCore/Processor/AssetsProcessor.swift
  Tests/ExFigCoreTests/Extensions/StringCaseTests.swift
  Tests/ExFigTests/Input/DownloadOptionsTests.swift
Due: swiftformat, swiftlint, mdformat

docs: update naming style options in platform-specific documentation
  .github/docs/android/typography.md
  .github/docs/ios/colors.md
  .github/docs/ios/icons.md
  .github/docs/ios/images.md
  .github/docs/ios/typography.md
Due: mdformat

refactor(docs): restructure CLAUDE.md for AI agent efficiency
  CLAUDE.md
Due: mdformat

docs(claude): add Figma API reference section
  CLAUDE.md
Due: mdformat

refactor(download): extract loader and processor for testability
  README.md
  Sources/ExFig/Loaders/DownloadImageLoader.swift
  Sources/ExFig/Subcommands/DownloadImageProcessor.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Tests/ExFigTests/Loaders/DownloadImageLoaderTests.swift
  Tests/ExFigTests/Subcommands/DownloadImageProcessorTests.swift
Due: swiftformat, swiftlint, mdformat

Figma image download (#7)
  .github/docs/android/typography.md
  .github/docs/ios/colors.md
  .github/docs/ios/icons.md
  .github/docs/ios/images.md
  .github/docs/ios/typography.md
  .github/docs/usage.md
  CLAUDE.md
  CONFIG.md
  README.md
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/Input/DownloadOptions.swift
  Sources/ExFig/Loaders/DownloadImageLoader.swift
  Sources/ExFig/Subcommands/DownloadImageProcessor.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Sources/ExFigCore/Extensions/StringCase.swift
  Sources/ExFigCore/NameStyle.swift
  Sources/ExFigCore/Processor/AssetsProcessor.swift
  Tests/ExFigCoreTests/Extensions/StringCaseTests.swift
  Tests/ExFigTests/Input/DownloadOptionsTests.swift
  Tests/ExFigTests/Loaders/DownloadImageLoaderTests.swift
  Tests/ExFigTests/Subcommands/DownloadImageProcessorTests.swift
Due: swiftformat, swiftlint, mdformat

feat(openspec): add three feature proposals
  openspec/changes/add-batch-processing/design.md
  openspec/changes/add-batch-processing/proposal.md
  openspec/changes/add-batch-processing/specs/batch-processing/spec.md
  openspec/changes/add-batch-processing/tasks.md
  openspec/changes/add-fault-tolerance/design.md
  openspec/changes/add-fault-tolerance/proposal.md
  openspec/changes/add-fault-tolerance/specs/reliability/spec.md
  openspec/changes/add-fault-tolerance/tasks.md
  openspec/changes/add-raw-json-export/design.md
  openspec/changes/add-raw-json-export/proposal.md
  openspec/changes/add-raw-json-export/specs/figma-export/spec.md
  openspec/changes/add-raw-json-export/tasks.md
Due: mdformat

feat(openspec): add Windows platform support proposal
  openspec/changes/add-windows-support/design.md
  openspec/changes/add-windows-support/proposal.md
  openspec/changes/add-windows-support/specs/platform-support/spec.md
  openspec/changes/add-windows-support/tasks.md
Due: mdformat

feat(cli): add download command for JSON/W3C token export
  .github/docs/usage.md
  CLAUDE.md
  CONFIG.md
  README.md
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/Output/DownloadExportHelpers.swift
  Sources/ExFig/Output/RawExporter.swift
  Sources/ExFig/Output/W3CTokensExporter.swift
  Sources/ExFig/Subcommands/Download.swift
  Sources/ExFig/Subcommands/DownloadAll.swift
  Sources/ExFig/Subcommands/DownloadIcons.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Sources/ExFig/Subcommands/DownloadImagesExport.swift
  Sources/ExFig/Subcommands/DownloadTypography.swift
  Sources/FigmaAPI/Model/Node.swift
  Sources/FigmaAPI/Model/Variables.swift
  Tests/ExFigTests/Helpers/TestHelpers.swift
  Tests/ExFigTests/Loaders/ColorsVariablesLoaderTests.swift
  Tests/ExFigTests/Output/RawExportOutputTests.swift
  Tests/ExFigTests/Output/W3CTokensExporterTests.swift
  Tests/ExFigTests/Subcommands/DownloadColorsTests.swift
  openspec/changes/add-batch-processing/design.md
  openspec/changes/add-fault-tolerance/design.md
  openspec/changes/add-raw-json-export/design.md
  openspec/changes/add-raw-json-export/proposal.md
  openspec/changes/add-raw-json-export/specs/figma-export/spec.md
  openspec/changes/add-raw-json-export/tasks.md
  openspec/changes/add-windows-support/design.md
  openspec/changes/archive/2025-12-04-add-raw-json-export/design.md
  openspec/changes/archive/2025-12-04-add-raw-json-export/proposal.md
  openspec/changes/archive/2025-12-04-add-raw-json-export/specs/figma-export/spec.md
  openspec/changes/archive/2025-12-04-add-raw-json-export/tasks.md
  openspec/specs/figma-export/spec.md
Due: swiftformat, swiftlint, mdformat

docs(openspec): refine batch processing design
  CLAUDE.md
  openspec/changes/add-batch-processing/design.md
  openspec/changes/add-batch-processing/tasks.md
Due: mdformat

feat(cli): add batch command for parallel config processing
  README.md
  Sources/ExFig/Batch/BatchExecutor.swift
  Sources/ExFig/Batch/BatchResult.swift
  Sources/ExFig/Batch/ConfigDiscovery.swift
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/Subcommands/Batch.swift
  Sources/ExFig/TerminalUI/BatchProgressView.swift
  Sources/ExFig/TerminalUI/TTYDetector.swift
  Sources/ExFig/TerminalUI/TerminalUI.swift
  Sources/FigmaAPI/Client.swift
  Sources/FigmaAPI/RateLimitedClient.swift
  Sources/FigmaAPI/SharedRateLimiter.swift
  Tests/ExFigTests/Batch/BatchExecutorTests.swift
  Tests/ExFigTests/Batch/BatchIntegrationTests.swift
  Tests/ExFigTests/Batch/ConfigDiscoveryTests.swift
  Tests/FigmaAPITests/RateLimitedClientTests.swift
  Tests/FigmaAPITests/SharedRateLimiterTests.swift
  openspec/changes/add-batch-processing/tasks.md
  openspec/changes/archive/2025-12-04-add-batch-processing/design.md
  openspec/changes/archive/2025-12-04-add-batch-processing/proposal.md
  openspec/changes/archive/2025-12-04-add-batch-processing/specs/batch-processing/spec.md
  openspec/changes/archive/2025-12-04-add-batch-processing/tasks.md
  openspec/specs/batch-processing/spec.md
Due: swiftformat, swiftlint, mdformat

feat(api): add retry policy and user-friendly error handling
  Sources/ExFig/Batch/BatchExecutor.swift
  Sources/ExFig/TerminalUI/RetryLogger.swift
  Sources/FigmaAPI/FigmaAPIError.swift
  Sources/FigmaAPI/RateLimitedClient.swift
  Sources/FigmaAPI/RetryPolicy.swift
  Tests/FigmaAPITests/FigmaAPIErrorTests.swift
  Tests/FigmaAPITests/RateLimitedClientTests.swift
  Tests/FigmaAPITests/RetryPolicyTests.swift
  openspec/changes/add-fault-tolerance/design.md
  openspec/changes/add-fault-tolerance/proposal.md
  openspec/changes/add-fault-tolerance/specs/reliability/spec.md
  openspec/changes/add-fault-tolerance/tasks.md
Due: swiftformat, swiftlint, mdformat

feat(cli): add checkpoint system for batch export resumption
  Sources/ExFig/Cache/BatchCheckpoint.swift
  Sources/ExFig/Cache/ExportCheckpoint.swift
  Sources/ExFig/Subcommands/Batch.swift
  Tests/ExFigTests/Cache/BatchCheckpointTests.swift
  Tests/ExFigTests/Cache/ExportCheckpointTests.swift
  openspec/changes/add-fault-tolerance/tasks.md
Due: swiftformat, swiftlint, mdformat

docs: add fault tolerance documentation to README
  README.md
  openspec/changes/add-fault-tolerance/tasks.md
Due: mdformat

chore(openspec): archive fault tolerance, create follow-up proposal
  openspec/changes/add-fault-tolerance-individual-commands/proposal.md
  openspec/changes/add-fault-tolerance-individual-commands/specs/reliability/spec.md
  openspec/changes/add-fault-tolerance-individual-commands/tasks.md
  openspec/changes/archive/2025-12-04-add-fault-tolerance/design.md
  openspec/changes/archive/2025-12-04-add-fault-tolerance/proposal.md
  openspec/changes/archive/2025-12-04-add-fault-tolerance/specs/reliability/spec.md
  openspec/changes/archive/2025-12-04-add-fault-tolerance/tasks.md
  openspec/specs/reliability/spec.md
Due: mdformat

feat(cli): add fault tolerance options to all export commands
  CLAUDE.md
  README.md
  Sources/ExFig/Cache/CheckpointTracker.swift
  Sources/ExFig/Input/FaultToleranceOptions.swift
  Sources/ExFig/Output/DownloadExportHelpers.swift
  Sources/ExFig/Subcommands/Download.swift
  Sources/ExFig/Subcommands/DownloadIcons.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Sources/ExFig/Subcommands/DownloadImagesExport.swift
  Sources/ExFig/Subcommands/DownloadTypography.swift
  Sources/ExFig/Subcommands/ExportColors.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Sources/ExFig/Subcommands/ExportTypography.swift
  Tests/ExFigTests/Cache/CheckpointTrackerTests.swift
  Tests/ExFigTests/Input/FaultToleranceOptionsTests.swift
  openspec/changes/add-fault-tolerance-individual-commands/proposal.md
  openspec/changes/add-fault-tolerance-individual-commands/specs/reliability/spec.md
  openspec/changes/add-fault-tolerance-individual-commands/tasks.md
  openspec/changes/archive/2025-12-04-add-fault-tolerance-individual-commands/proposal.md
  openspec/changes/archive/2025-12-04-add-fault-tolerance-individual-commands/specs/reliability/spec.md
  openspec/changes/archive/2025-12-04-add-fault-tolerance-individual-commands/tasks.md
  openspec/specs/reliability/spec.md
Due: swiftformat, swiftlint, mdformat

docs: add toon project file, update usage documentation
  .claude/EXFIG.toon
  .github/docs/index.md
  .github/docs/usage.md
  CLAUDE.md
  README.md
Due: mdformat

chore(build): use --configuration flag for release build
  mise.toml
Due: none

feat(cli): improve warning formatting with TOON support
  Package.resolved
  Package.swift
  Sources/ExFig/Subcommands/ExportColors.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Sources/ExFig/TerminalUI/TerminalUI.swift
  Sources/ExFig/TerminalUI/WarningFormatter.swift
  Tests/ExFigTests/TerminalUI/TerminalUITests.swift
  Tests/ExFigTests/TerminalUI/WarningFormatterTests.swift
Due: swiftformat, swiftlint

refactor(terminal): centralize output management for animations
  .claude/EXFIG.toon
  .github/docs/development.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  Sources/ExFig/Loaders/DownloadImageLoader.swift
  Sources/ExFig/Loaders/IconsLoader.swift
  Sources/ExFig/Loaders/ImageLoaderBase.swift
  Sources/ExFig/Loaders/ImagesLoader.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Sources/ExFig/TerminalUI/ExFigLogHandler.swift
  Sources/ExFig/TerminalUI/ProgressBar.swift
  Sources/ExFig/TerminalUI/Spinner.swift
  Sources/ExFig/TerminalUI/TerminalOutputManager.swift
  Sources/ExFig/TerminalUI/TerminalUI.swift
Due: swiftformat, swiftlint, mdformat

refactor(terminal): route all output through TerminalOutputManager
  Sources/ExFig/TerminalUI/ProgressBar.swift
  Sources/ExFig/TerminalUI/Spinner.swift
  Sources/ExFig/TerminalUI/TerminalOutputManager.swift
Due: swiftformat, swiftlint

refactor(terminal): route all output through TerminalOutputManager
  README.md
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/TerminalUI/ProgressBar.swift
  Sources/ExFig/TerminalUI/Spinner.swift
  Sources/ExFig/TerminalUI/TerminalOutputManager.swift
Due: swiftformat, swiftlint, mdformat

fix(cli): increase default rate limit to 18 requests per minute
  Sources/ExFig/Input/FaultToleranceOptions.swift
Due: swiftformat, swiftlint

refactor(terminal): consolidate state with Lock<T> wrapper
  CLAUDE.md
  Sources/ExFig/Loaders/ImageLoaderBase.swift
  Sources/ExFig/Output/FileDownloader.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Sources/ExFig/TerminalUI/BatchProgressView.swift
  Sources/ExFig/TerminalUI/Lock.swift
  Sources/ExFig/TerminalUI/MultiProgressManager.swift
  Sources/ExFig/TerminalUI/ProgressBar.swift
  Sources/ExFig/TerminalUI/Spinner.swift
  Sources/ExFig/TerminalUI/TerminalOutputManager.swift
  Tests/ExFigTests/Input/FaultToleranceOptionsTests.swift
Due: swiftformat, swiftlint, mdformat

feat(cli): add --concurrent-downloads option for CDN parallelism
  .github/docs/usage.md
  CLAUDE.md
  README.md
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/Input/FaultToleranceOptions.swift
  Sources/ExFig/Output/FileDownloader.swift
  Sources/ExFig/Subcommands/DownloadImages.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
Due: swiftformat, swiftlint, mdformat

test: add unit tests for core models and components
  README.md
  Tests/ExFigCoreTests/AssetPairTests.swift
  Tests/ExFigCoreTests/AssetResultTests.swift
  Tests/ExFigCoreTests/ColorTests.swift
  Tests/ExFigCoreTests/NameStyleTests.swift
  Tests/ExFigCoreTests/PlatformTests.swift
  Tests/ExFigTests/Output/FileDownloaderTests.swift
  Tests/ExFigTests/TerminalUI/LockTests.swift
  Tests/ExFigTests/TerminalUI/ProgressBarTests.swift
  Tests/ExFigTests/TerminalUI/SpinnerTests.swift
  Tests/ExFigTests/TerminalUI/TerminalOutputManagerTests.swift
  Tests/XcodeExportTests/Model/XcodeAssetContentsTests.swift
  Tests/XcodeExportTests/Model/XcodeEmptyContentsTests.swift
  Tests/XcodeExportTests/Model/XcodeImagesOutputTests.swift
  Tests/XcodeExportTests/XcodeImagesExporterTests.swift
Due: swiftformat, swiftlint, mdformat

docs: update coverage badge and fix profraw cleanup
  README.md
  Scripts/coverage.sh
Due: mdformat

fix(api): add FoundationNetworking import for Linux compatibility
  Tests/FigmaAPITests/RateLimitedClientTests.swift
Due: swiftformat, swiftlint

ci(release): rename binary from exfig to ExFig in dist
  .github/workflows/release.yml
Due: none

fix(cli): improve help text and add version to main command
  .gitignore
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/Input/ExFigOptions.swift
  Sources/ExFig/Input/FaultToleranceOptions.swift
  Sources/ExFig/Subcommands/Batch.swift
Due: swiftformat, swiftlint

ci(release): use v-prefixed tags for mise/ubi compatibility
  .github/workflows/release.yml
Due: none
