Repository alexey1312/ExFig: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, swiftlint, mdformat

swiftformat:
  name: SwiftFormat
  entry: bin/mise exec -- swiftformat
  language: system
  args: []

swiftlint:
  name: SwiftLint
  entry: bin/mise exec -- swiftlint lint --strict
  language: system

mdformat:
  name: Markdown Format
  entry: bin/mise exec -- mdformat
  language: system
  args:
  - --wrap
  - '120'
  - --number

chore: add community files and automated changelog
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  cliff.toml
  mise.toml
Due: mdformat

feat: add Flutter/Dart export support
  .github/docs/flutter/index.md
  .github/docs/index.md
  CHANGELOG.md
  CLAUDE.md
  CONFIG.md
  Package.swift
  README.md
  Sources/ExFig/Input/Params.swift
  Sources/ExFig/Subcommands/ExportColors.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Sources/FlutterExport/FlutterColorExporter.swift
  Sources/FlutterExport/FlutterExporter.swift
  Sources/FlutterExport/FlutterIconsExporter.swift
  Sources/FlutterExport/FlutterImagesExporter.swift
  Sources/FlutterExport/Model/FlutterOutput.swift
  Sources/FlutterExport/Resources/colors.dart.stencil
  Sources/FlutterExport/Resources/header.stencil
  Sources/FlutterExport/Resources/icons.dart.stencil
  Sources/FlutterExport/Resources/images.dart.stencil
  Tests/FlutterExportTests/FlutterColorExporterTests.swift
  Tests/FlutterExportTests/FlutterIconsExporterTests.swift
  Tests/FlutterExportTests/FlutterImagesExporterTests.swift
  Tests/FlutterExportTests/header.swift
Due: swiftformat, swiftlint, mdformat

fix(examples): remove unused imports in Flutter example
  Examples/FlutterExample/lib/main.dart
  Examples/FlutterExample/lib/ui/colors_page.dart
Due: none

docs(examples): fix markdown formatting in Flutter README
  Examples/FlutterExample/README.md
Due: mdformat

Add comparison table showing ExFig advantages
  README.md
Due: mdformat

Update comparison table: fix items, add concurrency and coverage
  README.md
Due: mdformat

chore: migrate mdformat to pre-commit managed hook
  .mdformat.toml
  .pre-commit-config.yaml
  README.md
  mise.toml
Due: mdformat

fix(webp): improve cwebp error handling and Linux support
  .github/docs/android/images.md
  .github/docs/flutter/index.md
  .github/docs/getting-started.md
  CLAUDE.md
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/Output/WebpConverter.swift
  Sources/ExFig/Subcommands/ExportImages.swift
Due: swiftformat, swiftlint, mdformat

chore: add Flutter lockfile and fix code formatting
  .gitignore
  Examples/FlutterExample/pubspec.lock
  Sources/ExFig/Output/WebpConverter.swift
Due: swiftformat, swiftlint

Improves error handling and documentation for WebP image (#2)
  .github/docs/android/images.md
  .github/docs/flutter/index.md
  .github/docs/getting-started.md
  .gitignore
  CLAUDE.md
  Examples/FlutterExample/pubspec.lock
  Sources/ExFig/ExFigCommand.swift
  Sources/ExFig/Output/WebpConverter.swift
  Sources/ExFig/Subcommands/ExportImages.swift
Due: swiftformat, swiftlint, mdformat

docs: add version tracking documentation
  CLAUDE.md
  README.md
Due: mdformat

feat: add Figma file version tracking for icons and images
  CONFIG.md
  Sources/ExFig/Cache/ImageTrackingCache.swift
  Sources/ExFig/Cache/ImageTrackingManager.swift
  Sources/ExFig/Input/CacheOptions.swift
  Sources/ExFig/Input/Params.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Sources/FigmaAPI/Endpoint/FileMetadataEndpoint.swift
  Tests/ExFigTests/Cache/CacheOptionsTests.swift
  Tests/ExFigTests/Cache/ImageTrackingCacheTests.swift
  Tests/FigmaAPITests/FileMetadataEndpointTests.swift
  Tests/FigmaAPITests/Fixtures/FileMetadataResponse.json
Due: swiftformat, swiftlint, mdformat

feat: add version tracking to colors and typography commands
  CONFIG.md
  README.md
  Sources/ExFig/Subcommands/ExportColors.swift
  Sources/ExFig/Subcommands/ExportTypography.swift
Due: swiftformat, swiftlint, mdformat

refactor: extract version tracking logic to VersionTrackingHelper
  .github/docs/getting-started.md
  CONFIG.md
  Sources/ExFig/Cache/VersionTrackingHelper.swift
  Sources/ExFig/Subcommands/ExportColors.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Sources/ExFig/Subcommands/ExportTypography.swift
Due: swiftformat, swiftlint, mdformat

docs: add version tracking to documentation
  .github/docs/index.md
  .github/docs/usage.md
  CLAUDE.md
Due: mdformat

Claude/figma api image tracking 01 jh l wf vm uf sb hp ea pq ua kc f (#3)
  .github/docs/getting-started.md
  .github/docs/index.md
  .github/docs/usage.md
  CLAUDE.md
  CONFIG.md
  README.md
  Sources/ExFig/Cache/ImageTrackingCache.swift
  Sources/ExFig/Cache/ImageTrackingManager.swift
  Sources/ExFig/Cache/VersionTrackingHelper.swift
  Sources/ExFig/Input/CacheOptions.swift
  Sources/ExFig/Input/Params.swift
  Sources/ExFig/Subcommands/ExportColors.swift
  Sources/ExFig/Subcommands/ExportIcons.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Sources/ExFig/Subcommands/ExportTypography.swift
  Sources/FigmaAPI/Endpoint/FileMetadataEndpoint.swift
  Tests/ExFigTests/Cache/CacheOptionsTests.swift
  Tests/ExFigTests/Cache/ImageTrackingCacheTests.swift
  Tests/FigmaAPITests/FileMetadataEndpointTests.swift
  Tests/FigmaAPITests/Fixtures/FileMetadataResponse.json
Due: swiftformat, swiftlint, mdformat

feat(ci): add code coverage reporting and badge
  .github/docs/development.md
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  Scripts/coverage.sh
  images/logo.png
  mise.toml
Due: mdformat

test(cache): refactor CacheOptionsTests to use argument parsing
  README.md
  Tests/ExFigTests/Cache/CacheOptionsTests.swift
Due: swiftformat, swiftlint, mdformat

test: add comprehensive unit tests across all modules
  README.md
  Sources/ExFigCore/TextStyle.swift
  Tests/AndroidExportTests/DrawableTests.swift
  Tests/ExFigCoreTests/AssetsValidatorErrorTests.swift
  Tests/ExFigCoreTests/AssetsValidatorWarningTests.swift
  Tests/ExFigCoreTests/ErrorGroupTests.swift
  Tests/ExFigCoreTests/FileContentsTests.swift
  Tests/ExFigCoreTests/ImageTests.swift
  Tests/ExFigCoreTests/TextStyleTests.swift
  Tests/ExFigTests/Input/GlobalOptionsTests.swift
  Tests/ExFigTests/Output/FileWriterTests.swift
  Tests/ExFigTests/TerminalUI/ANSICodesTests.swift
  Tests/ExFigTests/TerminalUI/ExFigLogHandlerTests.swift
  Tests/ExFigTests/TerminalUI/MultiProgressManagerTests.swift
  Tests/ExFigTests/TerminalUI/OutputModeTests.swift
  Tests/ExFigTests/TerminalUI/ProgressBarTests.swift
  Tests/ExFigTests/TerminalUI/SpinnerTests.swift
  Tests/ExFigTests/TerminalUI/TTYDetectorTests.swift
  Tests/ExFigTests/TerminalUI/TerminalUITests.swift
  Tests/FigmaAPITests/FigmaClientErrorTests.swift
  Tests/FigmaAPITests/NodeTests.swift
  Tests/FigmaAPITests/VariablesTests.swift
  Tests/XcodeExportTests/XcodeExportExtensionsTests.swift
Due: swiftformat, swiftlint, mdformat

ci: simplify macOS matrix and add SPM dependency caching
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Introduces comprehensive code coverage support (#4)
  .github/docs/development.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  Scripts/coverage.sh
  Sources/ExFigCore/TextStyle.swift
  Tests/AndroidExportTests/DrawableTests.swift
  Tests/ExFigCoreTests/AssetsValidatorErrorTests.swift
  Tests/ExFigCoreTests/AssetsValidatorWarningTests.swift
  Tests/ExFigCoreTests/ErrorGroupTests.swift
  Tests/ExFigCoreTests/FileContentsTests.swift
  Tests/ExFigCoreTests/ImageTests.swift
  Tests/ExFigCoreTests/TextStyleTests.swift
  Tests/ExFigTests/Cache/CacheOptionsTests.swift
  Tests/ExFigTests/Input/GlobalOptionsTests.swift
  Tests/ExFigTests/Output/FileWriterTests.swift
  Tests/ExFigTests/TerminalUI/ANSICodesTests.swift
  Tests/ExFigTests/TerminalUI/ExFigLogHandlerTests.swift
  Tests/ExFigTests/TerminalUI/MultiProgressManagerTests.swift
  Tests/ExFigTests/TerminalUI/OutputModeTests.swift
  Tests/ExFigTests/TerminalUI/ProgressBarTests.swift
  Tests/ExFigTests/TerminalUI/SpinnerTests.swift
  Tests/ExFigTests/TerminalUI/TTYDetectorTests.swift
  Tests/ExFigTests/TerminalUI/TerminalUITests.swift
  Tests/FigmaAPITests/FigmaClientErrorTests.swift
  Tests/FigmaAPITests/NodeTests.swift
  Tests/FigmaAPITests/VariablesTests.swift
  Tests/XcodeExportTests/XcodeExportExtensionsTests.swift
  images/logo.png
  mise.toml
Due: swiftformat, swiftlint, mdformat

feat(openspec): add proposals for gradient, image, and WebP features
  openspec/changes/add-gradient-support/design.md
  openspec/changes/add-gradient-support/proposal.md
  openspec/changes/add-gradient-support/specs/svgkit/spec.md
  openspec/changes/add-gradient-support/tasks.md
  openspec/changes/add-image-optimization/design.md
  openspec/changes/add-image-optimization/proposal.md
  openspec/changes/add-image-optimization/specs/image-export/spec.md
  openspec/changes/add-image-optimization/tasks.md
  openspec/changes/replace-cwebp-with-native-libwebp/design.md
  openspec/changes/replace-cwebp-with-native-libwebp/proposal.md
  openspec/changes/replace-cwebp-with-native-libwebp/specs/webp-conversion/spec.md
  openspec/changes/replace-cwebp-with-native-libwebp/tasks.md
Due: mdformat

feat(svgkit): add gradient support for SVG parsing and export
  Sources/SVGKit/ImageVectorGenerator.swift
  Sources/SVGKit/SVGParser.swift
  Sources/SVGKit/SVGTypes.swift
  Sources/SVGKit/VectorDrawableXMLGenerator.swift
  Tests/SVGKitTests/ImageVectorGradientTests.swift
  Tests/SVGKitTests/SVGGradientParsingTests.swift
  Tests/SVGKitTests/SVGGradientTests.swift
  Tests/SVGKitTests/VectorDrawableGradientTests.swift
  openspec/changes/add-gradient-support/tasks.md
  openspec/changes/archive/2025-12-03-add-gradient-support/design.md
  openspec/changes/archive/2025-12-03-add-gradient-support/proposal.md
  openspec/changes/archive/2025-12-03-add-gradient-support/specs/svgkit/spec.md
  openspec/changes/archive/2025-12-03-add-gradient-support/tasks.md
  openspec/specs/svgkit/spec.md
Due: swiftformat, swiftlint, mdformat

feat(webp): replace cwebp binary with native libwebp library
  .claude/settings.json
  .github/docs/android/images.md
  .github/docs/flutter/index.md
  CHANGELOG.md
  CLAUDE.md
  Package.resolved
  Package.swift
  Sources/ExFig/Output/NativeWebpEncoder.swift
  Sources/ExFig/Output/PngDecoder.swift
  Sources/ExFig/Output/WebpConverter.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Tests/ExFigTests/NativeWebpEncoderTests.swift
  Tests/ExFigTests/PngDecoderTests.swift
  Tests/ExFigTests/WebpConverterTests.swift
  openspec/changes/archive/2025-12-03-replace-cwebp-with-native-libwebp/design.md
  openspec/changes/archive/2025-12-03-replace-cwebp-with-native-libwebp/proposal.md
  openspec/changes/archive/2025-12-03-replace-cwebp-with-native-libwebp/specs/webp-conversion/spec.md
  openspec/changes/archive/2025-12-03-replace-cwebp-with-native-libwebp/tasks.md
Due: swiftformat, swiftlint, mdformat

feat(images): add PNG/JPEG/GIF optimization via image_optim
  CLAUDE.md
  CONFIG.md
  README.md
  Sources/ExFig/Input/Params.swift
  Sources/ExFig/Output/ImageOptimizer.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Tests/ExFigTests/ImageOptimizerTests.swift
  Tests/ExFigTests/ParamsOptimizeTests.swift
  openspec/changes/add-image-optimization/tasks.md
  openspec/changes/archive/2025-12-03-add-image-optimization/design.md
  openspec/changes/archive/2025-12-03-add-image-optimization/proposal.md
  openspec/changes/archive/2025-12-03-add-image-optimization/specs/image-export/spec.md
  openspec/changes/archive/2025-12-03-add-image-optimization/tasks.md
  openspec/specs/image-export/spec.md
Due: swiftformat, swiftlint, mdformat

fix(linux): fix libpng compatibility for Linux builds
  Sources/ExFig/Output/PngDecoder.swift
  Tests/ExFigTests/PngDecoderTests.swift
  Tests/ExFigTests/WebpConverterTests.swift
Due: swiftformat, swiftlint

test(linux): skip WebpConverterTests that use libpng on Linux
  Tests/ExFigTests/WebpConverterTests.swift
Due: swiftformat, swiftlint

fix(linux): use copyItem instead of replaceItemAt in FileWriter
  Sources/ExFig/Output/FileWriter.swift
Due: swiftformat, swiftlint

docs: add Linux testing and Swift installation guidance to CLAUDE.md
  CLAUDE.md
Due: mdformat

ci(linux): run tests with single worker to avoid memory corruption
  .github/workflows/ci.yml
Due: none

Fix Linux build (#5)
  .github/workflows/ci.yml
  CLAUDE.md
  Sources/ExFig/Output/FileWriter.swift
  Sources/ExFig/Output/PngDecoder.swift
  Tests/ExFigTests/PngDecoderTests.swift
  Tests/ExFigTests/WebpConverterTests.swift
Due: swiftformat, swiftlint, mdformat

revert(images): remove image_optim integration feature
  CLAUDE.md
  CONFIG.md
  Sources/ExFig/Input/Params.swift
  Sources/ExFig/Output/ImageOptimizer.swift
  Sources/ExFig/Subcommands/ExportImages.swift
  Tests/ExFigTests/ImageOptimizerTests.swift
  Tests/ExFigTests/ParamsOptimizeTests.swift
  openspec/specs/image-export/spec.md
Due: swiftformat, swiftlint, mdformat

docs: remove image_optim feature from README
  README.md
Due: mdformat

docs: add image_optim recommendation to platform guides
  .github/docs/android/images.md
  .github/docs/flutter/index.md
  .github/docs/ios/images.md
Due: mdformat

style: format markdown files with mdformat
  .github/docs/android/images.md
  .github/docs/flutter/index.md
  .github/docs/ios/images.md
Due: mdformat

docs: update Linux environment setup instructions
  CLAUDE.md
Due: mdformat

Revert "docs: update Linux environment setup instructions"
  CLAUDE.md
Due: mdformat

docs: remove image_optim recommendation from CLAUDE.md
  CLAUDE.md
Due: mdformat

Path conditions:
  swiftformat: any of: \.swift$
  swiftlint: any of: \.swift$
  mdformat: any of: \.(md|markdown|mdown)$, but not: ^\.github/ISSUE_TEMPLATE/
